<nav class="menu">

<ul class="nav__main">

{%- assign navigation_pages = site.pages | sort: 'nav-order' -%}

{%- for p in navigation_pages -%}

{%- if p.nav-include -%}

{%- if p.url contains "/page" -%}

<!-- do nothing -->

{%- elsif p.url contains "archive" -%}

<!-- do nothing -->

{%- else -%}

<li><a class="nav-links" href="{{p.url | replace: 'index.html', ''}}">{%- if p.nav-title -%}{{p.nav-title}}{%- else -%}{{p.title}}{%- endif -%}</a></li>

{%- endif -%}

{%- endif -%}

{%- endfor -%}

</ul>

</nav>